<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock%}</title>
  <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style type="text/css">
    #tip {
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      z-index: 9999;
    }
  </style >
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
<div class="container">
  <img src="static/img/cafe_logo.png" height="20%" width="20%">
</div>
<strong id="tip"></strong>
{% block body %}
{% endblock %}
</body>
</html>