{% extends "layout.html" %}
{% block title%}Robot case template generato{% endblock %}
{% block body %}
  <div class="container">
    <h2>Robot case template generator <small><a class="text-primary" href="http://wiki.calix.local/display/CDCST/Online+tool+to+generate+robot+script">[help]</a></small></h2>
    {% from "_formhelpers.html" import render_field %}
    <form role="form" class="form" action="file_template" method="post">
      <div class="form-group">
        {{ render_field(form.case_name, class_="form-control") }}
      </div>
      <div class="form-group">
        {{ render_field(form.author_name, class_="form-control") }}
      </div>
      <div class="form-group">
        {{ render_field(form.tcid, class_="form-control") }}
      </div>
      <div class="form-group">
        {{ render_field(form.suite_doc, cols=80, rows=4, class_="form-control", placeholder="Please fill test suite documentation.") }}
      </div>
      <div class="form-group">
        {{ render_field(form.case_doc, cols=80, rows=8, class_="form-control", placeholder="Please fill test case documentation.") }}
      </div>
      <div class="form-group">
        {#        <div class="col-lg-offset-5 col-lg-2">#}
        <div class="center-block" style="width:200px">
          <button type="submit" class="btn btn-success btn-lg">Generate</button>
        </div>
      </div>
    </form>
    {% block result %}
    {% endblock %}
  </div>

  <script type="text/javascript" src="static/js/lib/ZeroClipboard/ZeroClipboard.min.js"></script>
  <script>
    $(document).ready(function() {
      var client = new ZeroClipboard($('.copy-button'));
      client.on("copy", function (event) {
        var clipboard = event.clipboardData;
        //clipboard.setData( "text/plain", "file_template" );
        //alert('aaa')
        ShowSuccess('Copied to clipboard');
      });

      $("input:text").click(function(){
        $(this).select();
      });

      $("textarea").click(function(){
        $(this).select();
      });
    });

    function ShowTip(tip, type) {
      var $tip = $('#tip');
      if ($tip.length == 0) {
        $tip = $('<strong id="tip" style="position:absolute;top:50px;left: 50%;z-index:9999"></strong>');
        $('body').append($tip);
      }
      $tip.stop(true).prop('class', 'alert alert-' + type).text(tip).css('margin-left', -$tip.outerWidth() / 2).fadeIn(500).delay(2000).fadeOut(500);
    }

    function ShowMsg(msg) {
      ShowTip(msg, 'info');
    }

    function ShowSuccess(msg) {
      ShowTip(msg, 'success');
    }

    function ShowFailure(msg) {
      ShowTip(msg, 'danger');
    }

    function ShowWarn(msg, $focus, clear) {
      ShowTip(msg, 'warning');
      if ($focus) {
        $focus.focus();
        if (clear) $focus.val('');
      }
      return false;
    }
  </script>
{% endblock %}